HELP.md
/target/**
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
Design-Pattern-Practice/src/main/resources/
Design-Pattern-Practice/src/test/
best-practices/src/main/resources/
best-practices/src/test/
mongoDB/src/test/
multithreading/src/main/resources/
multithreading/src/test/
redis/src/
